{
  "extends": [
    "@eslint-kit/patch",
    "@eslint-kit/base",
    "@eslint-kit/typescript",
    "@eslint-kit/node",
    "@eslint-kit/prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "max-len": ["warn", { "code": 120 }],
    "no-param-reassign": ["error", { "props": false }],
    "@typescript-eslint/no-unused-expressions": ["error", { "allowShortCircuit": true, "allowTernary": true }],
    "unicorn/number-literal-case": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "replacements": {
          "e": {
            "event": false
          },
          "res": false,
          "props": false,
          "ctx": {
            "context": false
          },
          "i": {
            "index": false
          },
          "src": false,
          "obj": false
        }
      }
    ]
  }
}
